data/Resume/Resume.csv filter=lfs diff=lfs merge=lfs -text
data/resume-dataset.zip filter=lfs diff=lfs merge=lfs -text
models/resume_classifier_model/model.safetensors filter=lfs diff=lfs merge=lfs -text
